DJANGO_SETTINGS_MODULE=core.settings.dev
SECRET_KEY=your-django-secret-key-here
DEBUG=True

Database

# ===== Neon  =====
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=your_database_host
DB_PORT=5432
DB_SSLMODE=require
DATABASE_URL=postgresql://your_database_user:your_database_password@your_database_host/your_database_name?sslmode=require&channel_binding=require

# ===== Local Docker =====
# DB_NAME=cleanwise
# DB_USER=cleanwise
# DB_PASSWORD=cleanwise
# DB_HOST=127.0.0.1
# DB_PORT=5432
# DB_SSLMODE=disable
# DATABASE_URL=postgresql://cleanwise:cleanwise@127.0.0.1:5432/cleanwise

Google OAuth

GOOGLE_CLIENT_ID=your-google-client-id

Email - Password Reset

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no-reply@cleanwise.local
PASSWORD_RESET_OTP_TTL_MINUTES=10
PASSWORD_RESET_OTP_MAX_ATTEMPTS=5

Cloudinary

CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret

PayOS

PAYOS_CLIENT_ID=your-payos-client-id
PAYOS_API_KEY=your-payos-api-key
PAYOS_CHECKSUM_KEY=your-payos-checksum-key

Redis

REDIS_URL=redis://127.0.0.1:6379/0

Celery option bật celery
CELERY_EAGER=1
NUM_PROXIES=1

#Khi deploy
# DJANGO_SETTINGS_MODULE=core.settings.prod
# DEBUG=False
# ALLOWED_HOSTS=api.cleanwise.vn
# CORS_ALLOWED_ORIGINS=https://cleanwise.vn
# CSRF_TRUSTED_ORIGINS=https://api.cleanwise.vn
# SECURE_SSL_REDIRECT=1