# Python / Virtual Environment
myenv/
venv/
ENV/
env/
*.pyc
__pycache__/

# Environment variables & secrets
.env
.env.*
!.env.example

# IDE / Editor Settings
.vscode/
.idea/

# Static / Media upload
media/
staticfiles/

# Celery Beat
celerybeat-schedule*
