# Python / Virtual Environment
myenv/
venv/
ENV/
env/
*.pyc
__pycache__/

# Environments & Passwords
.env

# IDE / Editor Settings
.vscode/
.idea/

# Static / Media upload
media/
staticfiles/

# Bỏ qua các file migration sinh ra tự động
**/migrations/*.py
!**/migrations/__init__.py